.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    @media (max-width: $bp-largest) {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
}

.ayo__logo {
    display: flex;

    justify-self: center;
    padding: 1rem;
    // mix-blend-mode: darken;

    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 100rem;

    @media (max-width: $bp-largest) {
        border-radius: initial;
        padding: initial;
        box-shadow: initial;
    }

    &--1 {
        border-radius: 500%;

        // display: block;
        margin-left: 3px;

        transition: all 0.7s;
        // padding-top: 3rem;
        margin-top: 3rem;
        width: 5rem;

        @media (max-width: $bp-largest) {
            border-radius: 500%;
            width: 5.5rem;
            margin-left: 1.5rem;
            margin-top: 1.5rem;
            transition: 1s;
        }
    }

    &--1:hover {
        transform: translateY(-2px);
        border-radius: 100rem;
        margin-top: 2.1rem;

        // mix-blend-mode: darken;

        @media (max-width: $bp-largest) {
            margin-left: 1.5rem;
            margin-top: 1.5rem;
        }
    }
}
